
AmicortApp/AmicortApp\.xcodeproj/project\.xcworkspace/xcuserdata/kirill\.xcuserdatad/UserInterfaceState\.xcuserstate

AmicortApp/AmicortApp\.xcodeproj/project\.xcworkspace/xcuserdata/kirill\.xcuserdatad/
